@import "variable.styl"

body, html
  line-height: 1
  font-family: 'QiHei', 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  -webkit-tap-highlight-color: transparent