//颜色定义规范
$color-theme = #008487
$color-theme-l = #a9d8d9
$color-alert = #df3300
$color-text = #484848
$color-text-l = #7e7e7e
$color-light = #ebebeb
$color-shadow = #efefef
$color-shadow-d = #aaaaaa
$color-border = #efebef
$color-image-background = #efefef

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 20px
$font-size-large-xx = 22px
$font-size-large-xxx = 24px
$font-size-title = 30px
